
<div class="container-fluid" style="padding-top: 1.5cm" ng-controller="firebaseController">

    <div class="loading" ng-show="loader.loading">Loading...</div>

    <div ng-controller="mqttController" ng-hide="loader.loading">

        <div class="box-body ve no-padding" >
            <div class="box-header">
                <h3 class="box-title">Serviços sendo Monitorados </h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua">
                            <img class="img-responsive" src="http://icon-icons.com/icons2/691/PNG/128/google_firebase_icon-icons.com_61475.png" alt="">
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Firebase</span>
                            <span ng-class="{
                    'label label-success': statusFirebase === 'Conectado',
                    'label label-warning': statusFirebase === 'Conectando ao servidor Firebase......',
                    'label label-danger': statusFirebase == 'Conexão Perdida'}">
                    {{statusFirebase}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua">
                             <img class="img-responsive" src="https://cdn6.aptoide.com/imgs/1/c/a/1caec56397fc9c9a26f35c1e0892e9d0_icon.png?w=256" alt="">
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Mqtt</span>
                            <span ng-class="{
                    'label label-success': statusMqtt === 'Conectado',
                    'label label-warning': statusMqtt === 'Conectando ao servidor Mqtt...',
                    'label label-danger': statusMqtt == 'Conexão Perdida'}">
                    {{statusMqtt}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div ng-class="statusUmi()">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i ng-class="nivelUmi()"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span  class="info-box-number">{{umidade}} %</span>
                                    </div>
                                    <div>{{msgUmi}}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div ng-class="statusTemp()">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i ng-class="nivelTemp()"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span class="info-box-number">{{temperatura}} <small> °C</small></span>

                                    </div>
                                    <div>{{msgTemp}}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <a class="pull-left" data-toggle="modal" data-target="#myModal">Gráfico</a>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <!-- Modal temperatura -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Registros Temperatura</h4>
                            </div>
                            <div class="modal-body">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="col-lg-4 col-md-6">
                    <div ng-class="statusBateria()">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i ng-class="nivelBateria()"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="info-box-number">{{voltage}} V</div>
                                    <div>{{msgBateria}}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Verificar</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="panel bg-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="https://cdn3.iconfinder.com/data/icons/ico-nic-plug/128/Plug_Power_Socket_Charge_Charging_Voltage_Cable_Connect_Source_Supply_Plug-in_Electric_Electricity_Energy_Ok_Confirm_Complete_Accept_Check_Allow_Available-512.png" class="img-responsive" alt="">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span  class="info-box-number">{{voltagem}} V</span>
                                    </div>
                                    <div>Tensão elétrica</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div ng-class="statusUmi()">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="http://www.hyiq.org/Images/Buttons/Hamburger%20MENU%20navigation%20round%20rounded%20edges.png" class="img-responsive" alt="">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span  class="info-box-number">{{amperagem}} A</span>
                                    </div>
                                    <div>Corrente elétrica</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div ng-class="statusUmi()">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="https://cdn0.iconfinder.com/data/icons/electricity-9/200/353_electricity-512.png" class="img-responsive" alt="">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span  class="info-box-number">{{wats}} W</span>
                                    </div>
                                    <div>Potência elétrica</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>


            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="panel bg-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span  class="info-box-number">{{watsHora}} Wh</span>
                                    </div>
                                    <div>Consumo energético</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div ng-class="statusUmi()">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span  class="info-box-number">R$ {{cl}}</span>
                                    </div>
                                    <div>Valor Fatura</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>


            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Registro</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="info">
                            <th>Temperatura</th>
                            <th>Umidade</th>
                            <th>Horário</th>
                            <th>Data</th>
                            <th>Excluir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in dados">
                            <td>{{item.temperatura}} °C</td>
                            <td>{{item.umidade}} %</td>
                            <td>{{item.hora}} Hs</td>
                            <td>{{item.data}}</td>
                            <td><a class="btn-deletar mdi-content-remove-circle" ng-click="dados.$remove(item)">Remover</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row box box-solid">
                <br>
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="date" chart-labels="labels"> chart-series="series"
                    </canvas>
                </div>
            </div>


            <style>

                #map_container {
                    position: relative;
                    padding-top: 50%;
                    width: 100%;
                    margin: 0 auto;
                }
                #map {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                }
                #repeat{
                    display: inline;
                }
                #names {
                    cursor: pointer;
                }
            </style>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h3 class="box-title">Monitoramento - Localização</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="map_container">
                        <div id="map"></div>
                        <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                            <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                                <label id="names" >{{marker.title}}</label></a>
                        </div>
                    </div>
                    <br>
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                            <div class="widget-user-image">
                                <img class="img-circle" src="assets/img/photo.jpg" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Marcelo Alves</h3>
                            <h5 class="widget-user-desc">Desenvolvedor Web</h5>

                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Latitude <span class="pull-right badge bg-blue">{{gps.lat}}</span></a></li>
                                <li><a href="#">Longitude <span class="pull-right badge bg-blue">{{gps.lon}}</span></a></li>
                                <li><a href="#">Nível Bateria <span class="pull-right badge bg-green">{{bateria}}</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{temperatura}}%">
                    {{temperatura}} C
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{umidade}}%">
                    {{umidade}} %
                </div>
            </div>


        </div>



